
<div class="container py-4">
    <div class="alert alert-secondary mt-5" >
    
        <h2>Contact us for help or Business</h2>
   
</div>

<div class="container">
    <!-- start tatble -->
    <table class="table ">
        <thead>
            <tr>

                <th scope="col">Method</th>
                <th scope="col">Link</th>
            </tr>
        </thead>

        <tbody>

            <tr>
                <td class="x">FaceBook</td>
                <td><a target="_blank" href="https://www.facebook.com/momenashraf.soliman"><i
                            class="fab mx-2 fa-facebook fa-2x"> </i></a></td>
            </tr>

            <tr>
                <td>WhatsApp</td>
                <td><a target="_blank" href="https://api.whatsapp.com/send?phone=201001432236"><i
                            class="fab mx-2 fa-whatsapp fa-2x"></i></a></td>
            </tr>

            <tr>
                <td class="x">LinkedIn</td>
                <td><a target="_blank" href="https://www.linkedin.com/in/moamen-ashraf-mohamed/"><i
                            class="fab mx-2 fa-linkedin fa-2x"> </i></a></td>
            </tr>


            <tr>
                <td>Github</td>
                <td><a target="_blank"
                        href="https://github.com/Moamen189"><i
                            class="fab mx-2 fa-github fa-2x"> </i></a></td>
            </tr>

            <tr>
                <td class="x">Twitter</td>
                <td><a target="_blank" href="https://twitter.com/_Moumen_91"><i
                            class="fab mx-2 fa-twitter fa-2x"></i></a></td>
            </tr>

        </tbody>

    </table>

    <!-- end table -->
</div>
</div>

