@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

body {
    background-color: #131722;
    color: #fff;
    font-family: 'Montserrat Alternates', sans-serif !important;
}

a , a:hover {
    color: #fff;
    text-decoration: none;
}


.bg-lights{
    background-color: #24baef !important;
}

.brdr{
    height: 1px;
    background-color: #a8a8a83d;
}

.X{

    color: #ffffff8c;
    size: 20px;

}